<h1>Q1</h1>
<%= render 'visualizations/q1' %>

<h1>Q2</h1>
<%= render 'visualizations/q2' %>

<h1>Q3</h1>
<%= render 'visualizations/q3' %>

<h1>Q4</h1>
<%= render 'visualizations/q4' %>

<h1>Q5</h1>
<%= render 'visualizations/q5' %>
